.App {
  text-align: center;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em; 
}
a {
  text-decoration: none; /* Remove underline */
  color: #7c3535; /* Change link color to black */
}
.card {
 
  /* Define your card styling here */
  flex: 0 0 calc(30%);
  background-color: #151515;
  border: 1px solid #ccc;
  font-size: 1em;
  color: azure;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

